<!doctype html>
<html lang="en">

{{ template "head.html" .}}

<meta name="keywords" content="{{ .article.Title}}" />
<meta name="description" content="{{ .article.Title}}" />
<!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/editor-md/css/editormd.css" />

<body>

<div class="container">
  {{ template "header.html" .}}

  <div style="text-align: center">
    <h3>
      {{ .article.Title}}
    </h3>
  </div>

  <main role="main" class="container">
    <div id="doc-content">
      <textarea style="display:none;">{{ .article.Content}}</textarea>
    </div>
  </main>

  <div id="comment">
    <h3>提交评论</h3>
    <input type="hidden" name="article_id" id="article_id"  value="{{ .article.Id }}">
    <textarea name="content" id="content" cols="100" rows="5"></textarea>
    <button type="button" id="comment_submit">提交</button>
  </div>

  <hr>
  <div class="col-md-8 blog-main">
    {{ range $k, $v := .commentList}}
      <div class="blog-post">
        <p class="blog-post-meta">{{ $v.CreatedAt }}&nbsp;&nbsp;by&nbsp;&nbsp;<a href="#">{{ $v.UserNickname }}</a></p>
        <hr>
        {{ $v.Content }}
      </div>
    {{ end}}

  </div>

</div>



{{ template "footer.html" .}}

<script src="/editor-md/lib/jquery.min.js"></script>
<script src="/editor-md/editormd.min.js"></script>
<script src="/editor-md/lib/flowchart.min.js"></script>
<script src="/editor-md/lib/jquery.flowchart.min.js"></script>
<script src="/editor-md/lib/marked.min.js"></script>
<script src="/editor-md/lib/prettify.min.js"></script>
<script src="/editor-md/lib/raphael.min.js"></script>
<script src="/editor-md/lib/underscore.min.js"></script>
<script type="text/javascript">
  var docEditor;
  $(function () {
      docEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
        htmlDecode: "style,script,iframe",
        emoji: true,
        taskList: true,
        tex: true, // 默认不解析
        flowChart: true, // 默认不解析
        //sequenceDiagram: true, // 默认不解析
        codeFold: true,
      });

      $('#comment_submit').click(function () {
        var target = $(this);
        target.attr("disabled", true);
        setTimeout(function(){
          target.attr("disabled", false);
        }, 5000);

        var content = $('#content').val();
        var article_id = $('#article_id').val();
        if (!content) {
          return false;
        }

        $.post('/comment', {
          content : content,
          article_id : article_id
        }, function (res, status) {
          alert(res.msg)
        })
      });
  });
</script>

</body>
</html>


